html, body {
  padding: 0;
  margin: 0;
  position: relative;
}

.icon {
  font-size: 5rem;
  color: $primary-color;
}

.title {
  color: $primary-color;
  margin: 1rem auto 2rem auto;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.app {
  min-height: 27rem;
}
